<h1>イベントのマッチング</h1>

<%= link_to "イベントの作成", new_recruitment_path, remote: true %>

<div id="recruitment-modal" class="modal fade"></div>
  <div id="comments_area">
    <%= render partial: "rec", recruitments: @recruitments %>
  </div>


