<div class="container">
  <% if current_user.id == @character.user_id%>
    <h1>キャラクターの編集</h1>
    <%= form_with(model: @character, local: true) do |form| %>
      <%= render "form", form: form %>
      <%= form.submit class: "btn btn-outline-dark" %>
      <%= link_to "　戻る　", user_path(current_user) , class: "btn btn-outline-dark" %>
    <% end %>
  <% end %>
</div>
