<div class="container">
  <h1>キャラクターの作成</h1>

  <%= form_with(model: @character, local: true) do |form| %>
    <%= render "form", form: form %>
    <%= form.submit class: "btn btn-outline-dark" %>
    <%= link_to "　戻る　", :back, class: "btn btn-outline-dark" %>
  <% end %>
  
</div>